
.african-carousel{
    width:100%; /*slider width*/
    height:auto; /*slider height*/
}

.carousel .item img {
    width: 100%; /*img width*/
    max-height:480px;
}

.page-header a {
    color: #ffffff;
    text-decoration: none;
}

/*DESCRIPTION*/
#africa-row {
    margin-top: 90px;
    border-color:darkgoldenrod;
}

#africa-description-block {
    padding:20px;
    font-size: 15px;
    text-align: justify;
    color: black;
    background-color:#EECBAD;
}

#africa-description-block h4 {
    font-family:"Raleway-SemiBold",sans-serif,"Open Sans",sans-serif, "Helvetica Neue",sans-serif;
    font-weight: bold;
}

/*#africa-description-block a {*/
    /*font-weight: bold;*/
    /*font-family: "Raleway-SemiBold",sans-serif,"Open Sans",sans-serif, "Helvetica Neue",sans-serif;*/
    /*font-size: 15px;*/
/*}*/

#hope-school {
    font-family:"Raleway-SemiBold",sans-serif,"Open Sans",sans-serif, "Helvetica Neue",sans-serif;
    font-size: 15px;
    margin-top:-30px;
    margin-bottom: 20px;
}

/*#arrow:before {*/
    /*content:'\27AD';*/
    /*color: darkslategrey;*/
    /*font-size: 30px;*/
/*}*/


.arrow-explain {
    font-size: 20px;
    color: dimgrey;
}

.africa-description {
    border-color: darkgoldenrod;
    line-height: 30px;
}

.africa-description h4 {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 35px;
}

.cassette-african-projects {
    height: 60px;
    width: auto;
    text-align: center;
    background-color: palegoldenrod;
    /*padding-top: 5px;*/
    margin-bottom: 300px;
    padding-top: 5px;
    font-family:"Raleway-SemiBold",sans-serif,"Open Sans",sans-serif, "Helvetica Neue",sans-serif;
}

.african-projects h4 {
    font-family:"Raleway-SemiBold",sans-serif, "Raleway-SemiBold",sans-serif,"Open Sans",sans-serif, Copperplate,sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding-top: 5px;
}

#cassette1 {text-align: center;
}

#cassette1:hover {
    background-color: goldenrod;
}

#story2 {
    margin-top: 150px;
}

#cassette2 {
    background-color: orange;
}

#cassette2:hover {
    background-color: darkorange;
}

#story3 {
    margin-top: 150px;
}

#cassette3 {
    background-color: steelblue;
}

#cassette3:hover {
    background-color: dodgerblue;
}

.inside-box{
    font-size: 15px;
    text-align: center;
    padding-right: 7px;
}

#textile-strip img {

    height:120px; /*slider height*/
    margin-top: -21px;
    margin-bottom: 50px;
    border-style: solid;
    border-color: #5C5C5C;
}

#textile-strip-feet img {

    height:120px; /*slider height*/
    margin-top:20px;
    border-style: solid;
    border-color: #5C5C5C;
}

.cassette-african-projects a:link {
    color: #333;
}

.africa-description p {
   padding-bottom: 20px;
}