
/*@import url('Ralewayhttp://fonts.googleapis.com/css?family=');*/

/*@import url('http://fonts.googleapis.com/css?family=Open+Sans');*/

@import url(http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope);

body {
    /*font-family: "Helvetica Neue",sans-serif,"Open Sans", sans-serif, "Times New Roman", "Conv_AvenirLTStd-Book", Sans-Serif;*/
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 28px;
    background-color:#E8E8E8 !important;
}

.container {
    background-color: #ffffff;
}
/* PAGE HEADER*/

.page-header {
    font-size:25px;
    color: white;
    background-color:#333;
    padding-left: 25px;
    font-weight:bold;
    border: 1px solid #5C5C5C;
}

.page-header h1{
    font-family: "Open Sans",sans-serif, "Helvetica Neue",sans-serif, "Raleway",sans-serif;
}

.page-header h1 .smalltitle {
    font-size: 21px;
    font-family: "Open Sans",sans-serif, "Helvetica Neue",sans-serif,"Raleway",sans-serif;
}

#up-flags {
    margin-top:-15px;
}

/* MENU */

.navbar-default-upmenu {
    /*background-color: rgba(128, 128, 128, 0.13);*/
    /*border: solid;*/
    /*border-color: rgba(128, 128, 128, 0.29);*/
    /*border-width: 1px;*/
}

.navbar-nav {
    font-size: 28px;
    font-weight: bold;
    opacity: 80;
    color: black;
}

.navbar-nav li {
    font-family:"Open Sans",sans-serif,"Raleway-SemiBold",sans-serif, "Helvetica Neue",sans-serif, "Conv_AvenirLTStd-Heavy",Sans-Serif;
    font-weight: bold;
    font-size:16px;
    text-transform:uppercase;
    color:black;
    border-right: 2px solid rgba(169, 169, 169, 0.52);
}

.navbar-nav li a:link {
    /*text-decoration:none;*/
    color: #707070;
}

.navbar-nav li a:hover {
    color:lawngreen;
}

.row-backinfos {
    background-color: #808080;
}


/* MESSAGE*/

.kenyas-next-techkids-title {
    font-family: 'Copperplate', sans-serif;
    font-size: 25px;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 20px;
    /*padding-top: -10px;*/
}

.next-tech-kids-description {
    font-family: "Helvetica Neue", sans-serif, "Open Sans", sans-serif, "Times New Roman", "Conv_AvenirLTStd-Book", Sans-Serif;
    /*font-size: 18px;*/
    letter-spacing: 1px;
    line-height: 28px;
    text-align:justify;

}

.next-tech-kids-description p {
    font-size: 17px;
    margin-bottom: 60px;
    /*text-align: center;*/
}

.next-tech-kids-description h4 {
    font-size: 18px;
    padding-bottom: 30px;
    /*border-bottom: 1px solid rgba(169, 169, 169, 0.4);*/
}

.digitize-kenya-photo {
    margin-top: 60px;
}

.digitize-kenya-photo img {
    width: 100%;
    margin-bottom: 80px;
    /*height: 100px;*/
}

.col-md-8-strip-description {
    margin-bottom: 10px;
}


/*CHILDREN PROFILE PRESENTATION*/


#children-presentation {
    margin-top: 70px;
    background-color: white;
    padding-bottom: 60px;
}

#title-children-presentation {
    /*padding-top: 50px;*/
}

/*.children-presentation-block {*/
    /*padding-bottom: 50px;*/
/*}*/


.second-row {
    /*border-top: 2px solid #F2F2F2;*/
    border-top: 2px solid #F2F2F2;
    margin: 0px 80px;
    height: 450px;
}

.without-upper-border {
    border-top: none;
}

.second-row h3 {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    font-family:'Annie Use Your Telescope', sans-serif;
    margin-bottom: 70px;
}

.second-row h2 {
    font-size: 24px;
    text-align: center;
    /*font-weight: bold;*/
    font-family:'Annie Use Your Telescope', sans-serif;
    margin-bottom: 70px;
}

.second-row h1 {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    font-family:'Annie Use Your Telescope', sans-serif;
    margin-bottom: 70px;
}

.child-presentation {
    color: #474747;
    text-align: center;
    font-family:'Annie Use Your Telescope', sans-serif; "Raleway-SemiBold",sans-serif, "Open Sans",sans-serif, "Conv_AvenirLTStd-Book",sans-serif;
    font-size: 22px;
    width: 400px;
    /*margin-bottom: 120px;*/
    /*border: 2px solid lightgrey;*/
    /*line-height: 20px;*/
}

/*#dodo {*/
    /*margin-top: 30px;*/
    /*padding: -70px;*/
    /*border: 2px solid lightgrey;*/
    /*border-top: 2px solid #F2F2F2;*/
/*}*/


.child-text-cassette {
    margin-top: 75px;
    min-height: 250px;
    padding-bottom: 30px;
    /*padding: 10px;*/
}

/*#wiwi {*/
    /*margin-top: 60px;*/
/*}*/


.child-img{
    width: 250px;
    height: 250px;
    border: 4px solid lightgrey;
    margin-bottom: 40px;
    /*border: 1px solid #a3a3a3;*/
    /*background-color: #22ff22;*/
    /*padding: 10px 40px;*/
}


.child-presentation h3 {
    color: #474747;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    /*border-bottom: 1px solid slategrey;*/
    /*padding-bottom: 20px;*/
    /*border: 2px solid #F2F2F2;*/
}

.laptop-img {
    width: 220px;
    height: 220px;
    /*float: right;*/
    padding-top: -20px;
    margin-left: 30px;
}

.laptop-thanks {
    border-top: 2px solid lightgrey;
    padding-top: 10px;
    /*background-color: rgba(44, 130, 35, 0.22);*/
    /*height: 150px;*/
}

.laptop-thanks p {
    padding-top: 20px;
}


/*.children-presentation-block {*/
    /*margin-bottom: 40px;*/
    /*color: #474747;*/
/*}*/


/*.child-text-cassette-second-row p {*/
/*font-family:'Annie Use Your Telescope', sans-serif;*/
/*padding-top: 60px;*/
/*background-color: lawngreen;*/
/*opacity: 0.8;*/
/*}*/


/*.laptop-cassette {*/
/*font-family:'Annie Use Your Telescope', sans-serif;'Copperplate', sans-serif;*/
/*font-size:14px;*/
/*font-weight: bold;*/
/*text-align: center;*/
/*margin-top: 40px;*/
/*}*/

/*.outer-center {*/
/*width: 100%; }*/

/*.inner-center {*/
/*display: block;*/
/*margin: 0px auto; }*/



/*FOOTER*/

footer {
    font-family: "Open Sans",sans-serif, "Helvetica Neue",sans-serif,"Conv_AvenirLTStd-Book",sans-serif;
    font-size: 14px;
    line-height: 30px;
    background-color: #333;
    width: 100%;
    height: 300px;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-top: 80px;
    color: white;
}

footer h1 {
    margin-left: 30px;
    margin-top: -20px;
}

.partners {
    margin-top: 60px;
}

