
.page-header a {
    color: #ffffff;
    text-decoration: none;
}

/*CONTENT*/
.discover-world {
    background-color:#AEEEEE;
    padding: 40px;
}

.discover-world img {
    width:100%;
    height:350px;
}

.discover-world h2 {
    font-family: "Copperplate","Great Vibes", cursive;
    text-align: center;
}

.discover-world h3 {
    font-family: "Great Vibes", cursive;
    text-align: center;
    padding-top: 40px;
}

.description {
    margin-top: 80px;
    text-align: center;
    font-size: 15px;
    line-height: 2;
}

a {
    color: #707070;
}

