
.page-header a {
    color: #ffffff;
    text-decoration: none;
}

/*DESCRIPTION*/

#coderdojo-row {
    margin-top: 90px;
}

/*#coderdojo-description-block {*/
    /*padding:20px;*/
    /*font-size: 15px;*/
    /*border-right: 1px solid darkgrey;*/
    /*text-align: center;*/
/*}*/

.coderdojo-description {
    padding:20px;
    font-size: 15px;
    /*border-right: 1px solid darkgrey;*/
    text-align: justify;
}

#coderdojo-description-block a {
font-weight: bold;

}

.coderdojo-description h3 {
font-weight: bold;
font-family: "Raleway-SemiBold",sans-serif, "Open Sans",sans-serif;
text-align: center;
}

#fb-icon {
    text-align: center;
}