
/*DESCRIPTION*/

#coderdojo-row {
    margin-top: 90px;
}

#coderdojo-description-block {
    padding:20px;
    font-size: 15px;
    border-width: 2px;
    border-right: solid darkgrey;
}

#coderdojo-description-block a {
    font-weight: bold;
}

.coderdojo-description h3 {
    font-weight: bold;
    font-family: "Raleway-SemiBold",sans-serif, "Open Sans",sans-serif;
}
