
@import url('Ralewayhttp://fonts.googleapis.com/css?family=');

@import url('http://fonts.googleapis.com/css?family=Open+Sans');


body {
    font-family: "Helvetica Neue",sans-serif,"Open Sans", sans-serif, "Times New Roman", "Conv_AvenirLTStd-Book", Sans-Serif;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 28px;
    background-color:#E8E8E8 !important;
}

.container {
    background-color: #ffffff;
}

.titlu_middle {
    text-align:center;
    font-size:25px;
    padding-bottom: 10px;
    margin-top: 120px;
}

.titlu_middle a {
    text-decoration:none;
    color: dimgrey;
}


/* PAGE HEADER*/

.page-header {
    font-size:25px;
    color: white;
    background-color:#333;
    padding-left: 25px;
    font-weight:bold;
    border: 1px solid #5C5C5C;
}

.page-header h1{
    font-family: "Open Sans",sans-serif, "Helvetica Neue",sans-serif, "Raleway",sans-serif;
}

.page-header h1 .smalltitle {
    font-size: 21px;
    font-family: "Open Sans",sans-serif, "Helvetica Neue",sans-serif,"Raleway",sans-serif;
}

#up-flags {
    margin-top:-15px;
}


/* MENU */

.navbar-default-upmenu {
    /*background-color: rgba(128, 128, 128, 0.13);*/
    /*border: solid;*/
    /*border-color: rgba(128, 128, 128, 0.29);*/
    /*border-width: 1px;*/
}

.navbar-nav {
    font-size: 28px;
    font-weight: bold;
    opacity: 80;
    color: black;
}

.navbar-nav li {
    font-family:"Open Sans",sans-serif,"Raleway-SemiBold",sans-serif, "Helvetica Neue",sans-serif, "Conv_AvenirLTStd-Heavy",Sans-Serif;
    font-weight: bold;
    font-size:16px;
    text-transform:uppercase;
    color:black;
    border-right: 2px solid rgba(169, 169, 169, 0.52);
}

.navbar-nav li a:link {
    /*text-decoration:none;*/
    color: #707070;
}

.navbar-nav li a:hover {
    color:lawngreen;
}

.row-backinfos {
    background-color: #808080;
}


/* CAROUSEL*/

#myCarousel {
margin-bottom:10px;
}

.img-responsive-staticbanner {
    width:100%;
    /*height:360px;*/
}

.carousel .item {
    width: 100%; /*slider width*/
    max-height: 450px; /*slider height*/
}

.carousel .item img {
    width: 100%; /*img width*/
}

.carousel-caption .text-slide {
    font-family:"Open Sans",sans-serif,"Great Vibes",sans-serif, "Raleway-SemiBold",sans-serif, "Helvetica Neue",sans-serif;
    font-size: 30px;
    text-align: center;
}



/* PROJECTS */

.projects {
    /*border-top: 1px solid rgba(169, 169, 169, 0.68);*/
    margin-left: 100px;
    margin-right: 100px;
}

#title-projects {
    /*margin-top: 20px;*/
    margin-bottom: 100px;
    text-align:center;
    font-family:"Raleway-SemiBold",sans-serif, "Open Sans",sans-serif, "Conv_AvenirLTStd-Book",sans-serif;
}

.all-photo-pictures {
    margin-top: 80px;
}

.col-md-4 a:hover {
    text-decoration: none !important;
}

.white-background-picture {
    width:100%;
    /*height:280px;*/
    background-color: ghostwhite;
    padding:10px 5px 5px 5px;
    box-shadow: -5px 6px 7px #777;
    /*-webkit-transform:rotate(-4deg);*/
}

.rotate-left {
    -webkit-transform:rotate(-3deg);
}

.rotate-right {
    -webkit-transform:rotate(2deg);
}

.rotate-left-documentaryhunters {
    -webkit-transform:rotate(-4deg);
}

.rotate-left-grow {
    -webkit-transform:rotate(-4deg);
}

.white-background-picture h3 {
    font-family: Copperplate,serif;
    text-align: center;
}

.img-responsive-projects {
    /*height:210px;*/
    width:100%;
}

.text-block-projects {
    /*background:#CDAD00; /*#66CD00 - light green*/
    font-family:"Helvetica Neue",sans-serif,"Open Sans", sans-serif, "Times New Roman", "Conv_AvenirLTStd-Book", Sans-Serif;
    font-size: 14px;
    line-height: 26px;
    height:370px;
    padding:8px 8px 0 8px;
    text-align:center;
    margin-top: 30px;
    color:white !important;
    border-radius:2px;
    width: 100%;
    margin-bottom: 120px;
    box-shadow: -5px 6px 7px #777;
}

.text-block-projects h3 {
    font-family: "Raleway",sans-serif,"Open Sans",sans-serif;
}

.text-block-projects h4 {
    font-family: "Raleway",sans-serif,"Open Sans",sans-serif;
}

.text-block-projects p {
    color: white;
}

.projects-title {
    color: white;
}

.flag {
	width: 25px;
	height: 15px;
	background:url(img/flags.png) no-repeat;
    text-align: right;
    margin-top:40px;
}

.flag.flag-ro {background-position: -25px 0;
}

.flag.flag-us {background-position: 0 -15px;
    margin-left:240px;
}

.btn-default-more-info {
    font-size: 16px;
    text-align:left;
    margin-bottom:100px;
}

.text-block-projects:hover {
    text-decoration:none;
}

#img1 {
    background-color:#60ad47;
}

#img1:hover {
    background-color:#9ACD32;
    text-decoration: none !important;
}

#img2 {
    background-color: #CDAD00;
}

#img2:hover {
    background-color: #FFB90F;
}

#img3 {
    background-color:#53868B;
}

#img3:hover {
    background-color:#03A89E;
}

#img4 {
    background-color:#388E8E;
}

#img4:hover {
    background-color: #40c5a7;
}

#img5 {
    background-color:#00868B;
}

#img5:hover {
    background-color: rgba(0, 180, 183, 0.93);
}

#img6 {
    background-color:limegreen;
}

#img6:hover {
    background-color:#66CD00;
}


/*TEAM*/

.team {
    border-top: 1px solid rgba(169, 169, 169, 0.68);
    margin-left: 100px;
    margin-right: 100px;
}

#title-team{
    margin-top: 40px;
    margin-bottom: 100px;
}

/*.team p{*/
    /*font-family: "Open Sans",sans-serif;*/
    /*font-size: 14px;*/
/*}*/

.team h3 {
    text-align: center;
    margin-bottom: 10px;
    font-family:"Raleway-SemiBold",sans-serif, "Open Sans",sans-serif, "Conv_AvenirLTStd-Book",sans-serif;
    /*font-weight: bold;*/
}

.team h4 {
    font-family:"Raleway-SemiBold",sans-serif, "Open Sans",sans-serif, "Conv_AvenirLTStd-Book",sans-serif;
}

.member-text {
    text-align:center;
    font-size: 16px;
}

.member-photo-ada {
    /*margin-left: 100px;*/
    background-color: rgba(105, 105, 105, 0.76);
    padding: 2px;
}

.member-photo-mircea {
    background-color: rgba(105, 105, 105, 0.76);
    padding: 2px;
}


/*VISION*/

.vision-description {
    /*border-top: 1px solid rgba(169, 169, 169, 0.68);*/
    /*border-bottom: 1px solid rgba(169, 169, 169, 0.68);*/

    /*margin-top: 80px;*/
    /*margin-bottom: 50px;*/
    text-align: center;
    font-size: 16px;
    /*margin-left: 100px;*/
    /*margin-right: 100px;*/
    margin: 80px 60px 50px
    /*width: 100%;*/
}


#title-vision{
    margin-top: 40px;
    margin-bottom: 60px;
    text-align: center;
    font-family:"Raleway-Semibold",sans-serif;
}

.vision-description h4{
    margin-top:60px;
}

.what-we-believe {
    background-color: rgba(128, 128, 128, 0.17);
    margin-right: 70px;
    margin-left: 70px;
    padding-bottom: 20px;
}

.what-we-do {
    background-color: rgba(128, 128, 128, 0.10);
    margin-right: 70px;
    margin-left: 70px;
    padding: 30px;
    padding-bottom: 20px;
}

#what-we-believe {
    padding-top:30px;
    margin-bottom: -60px;
    padding-bottom: 40px;
}

#what-we-do {
    margin-bottom: 40px;
    padding-top: 30px;
}

/*FOOTER*/

footer {
    font-family: "Open Sans",sans-serif, "Helvetica Neue",sans-serif,"Conv_AvenirLTStd-Book",sans-serif;
    font-size: 14px;
    line-height: 30px;
    background-color: #333;
    width: 100%;
    height: 300px;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-top: 80px;
    color: white;
}

footer h1 {
    margin-left: 30px;
    margin-top: -20px;
}

.partners {
    margin-top: 60px;
}

