
h1 {font-family: Papyrus;
    font-size:20;
    text-decoration:none;
    color:#FFFF00;
    font-weight:bold;}

#menu {position:fixed;
       height:50;
       width:100%;
       margin-top:2px;
       font-size:40px;
       font-weight:bold;
       color:#000000;
       font-family:Papyrus;
       border-radius:10px;}

ul li {display:inline;
       padding:50;
       color:#FFFF00;
       text-decoration:none;
          }