

/*CONTENT*/
#outdoor-row {
    margin-top: 50px;
}

#outdoor-description-block {
    padding:20px;
    /*font-family: "Helvetica Neue",sans-serif,"Open Sans",sans-serif;*/
    font-size: 15px;
    text-align: justify;
    border-width: 2px;
    border-right: solid darkgrey;
}

#outdoor-description-block a {
    font-weight: bold;
}

.arrow-explain {
    font-size: 20px;
    color: dimgrey;
}

.outdoor-description h3 {
    font-weight: bold;
    font-family: "Raleway-SemiBold",sans-serif,"Open Sans",sans-serif, "Helvetica Neue",sans-serif;
}

.outdoor-description h4 {
    font-weight: bold;
    margin-top: 40px;
    font-family:"Raleway-SemiBold",sans-serif,"Open Sans",sans-serif, "Helvetica Neue",sans-serif;
    margin-bottom:35px;
}

#first-title {
    margin-top: -5px;
}

.abilitati {
    font-size: 20px;
    color: limegreen;
}

.exp-learning {
    font-size: 20px;
    color: dimgrey;
}

#summer-camp {
    font-size: 15px;
    text-align: justify;
}

.outdoor-projects {
    margin-top: 40px;
}

.cassette-outdoor-projects {
    height: 60px;
    width: auto;
    text-align: center;
    background-color: ghostwhite;
    padding-top: 5px;
    margin-bottom: 40px;
}

#cassette1 {text-align: center;
}

.polaroid_white {
    background-color:ghostwhite;
    height: 300px;
    padding: 60px;
    box-shadow: -5px 7px 6px #777;
}

.polaroid-white img {
    height: 20px;
    width: 20px;
}

a {
   color: #707070;
}

